/*index*/
body{
    font-size: 20px;
}
ul{
    list-style-type: none;
}
h1 {
    font-size: 40px;
}
h2 {
    vertical-align:middle;
    font-size: 30px;
}

article{
    color:black;
    background:#dee3dd;
    margin:0;
    padding:10px;
    text-align:left;
}

li{
    line-height: 200%;
}

li span{
    color: white;
    background-color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}