/*Base*/
html {
    font-size: 100%;
}
body {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 20px;
    text-align: left;
}
h1 {
    text-align:left;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}
.clear{
    clear:both;
}
/*Header*/
header{
    background-color: white;
    padding:0px,auto,0px,5px;
}
header nav{
    line-height: 200%;
}
header ul{
    margin:0;
}
header ul li{
    float: left;
}
header ul a {
    color: black;
    font-size: 30px;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none
}

/*block setting*/
.scroll_block{
    padding:5px;
}
.about_me{
    background-color: #5aa8d9;/*blue*/
}
.some_picuture{
    background-color: #f86531;/*pink*/
}
.resume{
    background-color: #f2cb02;/*yellow*/
}
.life{
    background-color: #80a67f;/*green*/
}
.work{
    background-color: #bf9c5a;/*grey*/
}

