/*Base*/
html {
    font-size: 100%;
}
body {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 30px;
    text-align: center;
}
ul{
    list-style-type: none;
}
h1 {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}
.clear{
    clear:both;
}
header{
    background-color: white;
}
footer{
    background: black;
    color:white;
}
footer p{
    margin:0;
}
.scroll_block{
    margin:0;
    padding:10px;
    text-align:center;
}
.scroll_block li{
    line-height: 200%;
}
.scroll_block div{
    margin-left:200px;
    text-align: left;
}
.scroll_block span{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}
/*block setting*/
.about_me{
    background-color: #5aa8d9;/*blue*/
}
.about_me h1{
    color: #06406C
}
.about_me span{
    color: white;
    background-color: #06406C;
}

.life{
    background-color: #80a67f;/*green*/
}
.life h1{
    color: #06406C
}
.life span{
    color: white;
    background-color: #06406C;
}

.work{
    background-color: #bf9c5a;/*grey*/
}
.work h1{
    color: #06406C
}
.work span{
    color: white;
    background-color: #06406C;
}

