/*Base*/
html {
    font-size: 100%;
}
body {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 30px;
    text-align: center;
}
ul{
    list-style-type: none;
}
h1 {
    font-size: 70px;
}
h2 {
    vertical-align:middle;
    font-size: 40px;
}
.clear{
    clear:both;
}
header{
    background-color: white;
}

footer{
    background: black;
    color:white;
}
footer p{
    margin:0;
}

.scroll_block{
    margin:0;
    padding:10px;
    text-align:center;
}

.scroll_block li{
    line-height: 200%;
}

.scroll_block span{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.scroll_block span{
    color: white;
    background-color: black;
}
.align_left{
    margin-left:200px;
    text-align: left;
}
.margin_100{
    margin-left:100px;
}

/*color scheme*/
/*blue
 * backgroud:5aa8d9
 * light-color:c9e5e8
 * dark-color:06406C
 */
.blue{
    color:#06406C;
    background-color: #5aa8d9;
}
.blue h1{
    color: #c9e5e8;
}

/*cyan
 * backgroud:80a67f
 * light-color:7abd9e
 * dark-color:023f40        
 */
.cyan{
    color: #023f40;
    background-color: #80a67f;
} 
.cyan h1{
    color: #e7f6e7;
}


/*pink
 * backgroud:80a67f
 * light-color:7abd9e
 * dark-color:023f40         
 */
.pink{
    color: #a74a50 ;
    background-color: #fd9b8f;
}
.pink h1{
    color: #f4e9e9;
}

/*yellow
 * backgroud:80a67f
 * light-color:7abd9e
 * dark-color:023f40              
 */
.yellow{
    color: #605d07;
    background-color: #e6e285;
}
.yellow h1{
    color: #fdfbcd;
}
/*purple
 * backgroud:80a67f
 * light-color:7abd9e
 * dark-color:023f40              
 * purple: 
 *            
 *  */
.purple{
    color: #674e85;
    background-color: #ca9ec1;
}
.purple h1{
    color: #f0dbec;
}
