<!--
 *@name:Download
 *@note:the resource for download
 *
 -->
<div class="pink">
	<a name="download"></a>
	<div class="center_block" id="download">
		<h1><img src="{{ site.url }}/img/download.png" alt="cycle"/>Download</h1>
		
		<h2>My Programe</h2>
		<ul>
			<li><a href="http://pan.baidu.com/share/link?shareid=213257&uk=1778389771">3DDesktop.zip</a></li>
		</ul>
		<h2>My Document</h2>
		<ul>
			<li><a href="http://pan.baidu.com/share/link?shareid=213276&uk=1778389771">MyResume.pdf</a></li>
			<li><a href="http://pan.baidu.com/share/link?shareid=213280&uk=1778389771">MyResume.doc</a></li>
		</ul>	
		<h2>Book-Interview</h2>
		<h2>Book-Architecture&Method</h2>
		<h2>Book-Python</h2>
		
	</div>
</div>