<!--
 *@name:Focus
 *@note:show the most important things by picture 
 *
 -->
<div class="black" id="focus_block" >
	<!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
		<div class="ws_images">
			<ul>
				<li><img src="{{ site.url }}/slider/data_index/images/trage.jpg" alt="On the way" title="On the way" id="wows1_0"/>repaire my warrior
				</li>
			</ul>
		</div>
		<div class="ws_bullets">
			<div>
				<a href="{{ site.url }}/slider/data_index/images/trage.jpg" title="On the way"><img src="{{ site.url }}/slider/data_index/tooltips/trage.jpg" alt="On the way"/>1</a>
				<a href="{{ site.url }}/slider/data_index/images/fenghuang.jpg" title="Traval">2</a>
				<a href="{{ site.url }}/slider/data_index/images/friends.jpg" title="Friends">3</a>
				<a href="{{ site.url }}/slider/data_index/images/imis0901.jpg" title="IMIS0901">4</a>
				<a href="{{ site.url }}/slider/data_index/images/snapshot.jpg" title="SR's Picture">5</a>
			</div>
		</div>
		<a class="wsl" href="http://wowslider.com">jQuery Image Slider Gallery by WOWSlider.com v2.8</a>
		<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="{{ site.url }}/slider/engine_index/wowslider.js"></script>
	<script type="text/javascript" src="{{ site.url }}/slider/engine_index/script.js"></script>
	<!-- End WOWSlider.com BODY section -->	
</div>