<nav id="sidebar" onMouseover="showSideBar()" onMouseout="hideSideBar()">
	<div id="catalogue_img">
		<img src="{{ site.url }}/img/homepage.png" />
		<a id="catalogue_title" href="{{ site.url }}/index.html">Index</a>
	</div>
	<ul id="catalogue">
		<li>
			<a href="{{ site.url }}/index.html#focus">Focus</a>
		</li>
		<li>
			<a href="{{ site.url }}/index.html#aboutme">Aboutme</a>
		</li>
		<li>
			<a href="{{ site.url }}/index.html#post">Post</a>
		</li>
		<li>
			<a href="{{ site.url }}/index.html#download">Download</a>
		</li>
		<li>
			<a href="{{ site.url }}/index.html#picture">Picture</a>
		</li>
		<li>
			<a href="{{ site.url }}/index.html#comment">Comment</a>
		</li>
	</ul>
</nav>