<!--
 *@name:Picture
 *@note:show the most important things by picture 
 *
 -->
<div class="cyan">
	<a name="picture"></a>
	<div class="center_block">
		<h1><img src="{{ site.url }}/img/picture.png" alt="pictures"/>Pictures</h1>
		<ul id="album">
			<li class="float_left">
				<a href="{{ site.url }}/html/album_friends.html"><img src="{{ site.url }}/slider/album_friends.jpg" alt="friends"/></a>
				<br/>
				Friends
			</li>
			<li class="float_left">
				<a href="{{ site.url }}/html/album_traval.html"><img src="{{ site.url }}/slider/album_traval.jpg" alt="traval"/></a>
				<br/>
				Traval
			</li>
			<li class="float_left">
				<a href="{{ site.url }}/html/album_snapshot.html"><img src="{{ site.url }}/slider/album_snapshot.jpg" alt="snapshot"/></a>
				<br/>
				Snapshot
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>