---
layout: default
title: Album Friends
---
<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ site.url }}/css/album.css" />
		<!-- Start WOWSlider.com HEAD section -->
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/slider/engine_friends/style.css" />
		<script type="text/javascript" src="{{ site.url }}/slider/engine_friends/jquery.js"></script>
		<!-- End WOWSlider.com HEAD section -->
	</head>
	<body>
		{% include nav.html %}
		<!-- Start WOWSlider.com BODY section -->
		<div id="wowslider-container1">
			<div class="ws_images">
				<ul>
					<li><img src="{{ site.url }}/slider/data_friends/images/suze.jpg" alt="苏泽涛等等" title="苏泽涛等等" id="wows1_0"/>苏泽甲虫郑攀...都很狡诈
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/cenzexiaobin.jpg" alt="陈泽丰和郑晓彬" title="陈泽丰和郑晓彬" id="wows1_1"/>老实派
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/cenze.jpg" alt="陈泽" title="陈泽" id="wows1_2"/>老实厚道的好孩纸
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/chenzhenxin.jpg" alt="高中同学" title="高中同学" id="wows1_3"/>陈镇鑫、黄梓东、陈俊莛，左边是个好人，中间是个骗子，右边是个怪人
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/im.jpg" alt="大学同学" title="大学同学" id="wows1_4"/>很多人...
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/sr.jpg" alt="SR" title="SR" id="wows1_5"/>SilverRose，Godness
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/dsc_0371.jpg" alt="男哥寰寰和菊花" title="男哥寰寰和菊花" id="wows1_6"/>一班坏人
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/p1040832.jpg" alt="老大" title="老大" id="wows1_7"/>这是个好人，不折不扣可以完全信任的好人
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/teachers.jpg" alt="普宁二中" title="普宁二中" id="wows1_8"/>高中老师和同学
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/teaching.jpg" alt="我自己" title="我自己" id="wows1_9"/>高考后的暑假在惠来教书
					</li>
					<li><img src="{{ site.url }}/slider/data_friends/images/p1040899.jpg" alt="大学春游合照" title="大学春游合照" id="wows1_10"/>胜天农庄
					</li>
				</ul>
			</div>
			<div class="ws_thumbs">
				<div>
					<a href="#" title="苏泽涛等等"><img src="{{ site.url }}/slider/data_friends/tooltips/suze.jpg" alt="" /></a>
					<a href="#" title="陈泽丰和郑晓彬"><img src="{{ site.url }}/slider/data_friends/tooltips/cenzexiaobin.jpg" alt="" /></a>
					<a href="#" title="陈泽"><img src="{{ site.url }}/slider/data_friends/tooltips/cenze.jpg" alt="" /></a>
					<a href="#" title="高中同学"><img src="{{ site.url }}/slider/data_friends/tooltips/chenzhenxin.jpg" alt="" /></a>
					<a href="#" title="大学同学"><img src="{{ site.url }}/slider/data_friends/tooltips/im.jpg" alt="" /></a>
					<a href="#" title="SR"><img src="{{ site.url }}/slider/data_friends/tooltips/sr.jpg" alt="" /></a>
					<a href="#" title="男哥寰寰和菊花"><img src="{{ site.url }}/slider/data_friends/tooltips/dsc_0371.jpg" alt="" /></a>
					<a href="#" title="老大"><img src="{{ site.url }}/slider/data_friends/tooltips/p1040832.jpg" alt="" /></a>
					<a href="#" title="普宁二中"><img src="{{ site.url }}/slider/data_friends/tooltips/teachers.jpg" alt="" /></a>
					<a href="#" title="我自己"><img src="{{ site.url }}/slider/data_friends/tooltips/teaching.jpg" alt="" /></a>
					<a href="#" title="大学春游合照"><img src="{{ site.url }}/slider/data_friends/tooltips/p1040899.jpg" alt="" /></a>
				</div>
			</div>
			<a class="wsl" href="http://wowslider.com">jQuery Image Slider Gallery by WOWSlider.com v2.8</a>
			<div class="ws_shadow"></div>
		</div>
		<script type="text/javascript" src="{{ site.url }}/slider/engine_friends/wowslider.js"></script>
		<script type="text/javascript" src="{{ site.url }}/slider/engine_friends/script.js"></script>
		<!-- End WOWSlider.com BODY section -->
	</body>
</html>