---
layout: default
title: Album Friends
---
<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ site.url }}/css/album.css" />
		<!-- Start WOWSlider.com HEAD section -->
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/slider/engine_traval/style.css" />
		<script type="text/javascript" src="{{ site.url }}/slider/engine_traval/jquery.js"></script>
		<!-- End WOWSlider.com HEAD section -->
	</head>
	<body>
		{% include nav.html %}
		<!-- Start WOWSlider.com BODY section -->
		<div id="wowslider-container1">
			<div class="ws_images">
				<ul>
					<li><img src="{{ site.url }}/slider/data_traval/images/fenghuang.jpg" alt="我在凤凰你在哪" title="我在凤凰你在哪" id="wows1_0"/>湖南凤凰
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/20110820_13.42.18.jpg" alt="靖海" title="靖海" id="wows1_1"/>广东惠来
						2011-08-20 13.42.18
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/20110823_18.29.452.jpg" alt="中山大学北门" title="中山大学北门" id="wows1_2"/>广东广州
						2011-08-23 18.29.45
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/20110825_20.26.55.jpg" alt="夜游珠江-广州塔" title="夜游珠江-广州塔" id="wows1_3"/>广东广州
						2011-08-25 20.26.55
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/20120120_16.07.10.jpg" alt="和陈泽探索大南山山路到碗仔" title="和陈泽探索大南山山路到碗仔" id="wows1_4"/>广东普宁
						2012-01-20 16.07.10
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/20120201_15.21.02.jpg" alt="坂美的风车" title="坂美的风车" id="wows1_5"/>广东惠来
						2012-02-01 15.21.02
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/20120201_10.53.25.jpg" alt="一块路牌" title="一块路牌" id="wows1_6"/>广东潮阳
						2012-02-01 10.53.25
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/dsc00761.jpg" alt="荆州站" title="荆州站" id="wows1_7"/>湖北荆州
						骑行张家界的起点
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/trage.jpg" alt="修车" title="修车" id="wows1_8"/>悲剧。。
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/20120826_18.36.59.jpg" alt="山路上骑不动了躺尸" title="山路上骑不动了躺尸" id="wows1_9"/>湖南张家界
						2012-08-26 18.36.59
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/dsc00880.jpg" alt="路上休息" title="路上休息" id="wows1_10"/>湘西山里
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/dsc00919.jpg" alt="美利达勇士" title="美利达勇士" id="wows1_11"/>我的山地车
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/dsc01356.jpg" alt="张家界武陵源" title="张家界武陵源" id="wows1_12"/>湖南张家界
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/dsc01367.jpg" alt="凤凰" title="凤凰" id="wows1_13"/>
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/dsc01586.jpg" alt="凤凰古城" title="凤凰古城" id="wows1_14"/>
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/0590.jpg" alt="黄冈中学" title="黄冈中学" id="wows1_15"/>湖北黄冈
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/imag0318.jpg" alt="天兴洲" title="天兴洲" id="wows1_16"/>湖北武汉
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/p_large_2zxl_529b0008341f5c42.jpg" alt="第一次去咸宁温泉" title="第一次去咸宁温泉" id="wows1_17"/>点团队海外组
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/img_3108.jpg" alt="再游咸宁温泉" title="再游咸宁温泉" id="wows1_18"/>
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/img_3118.jpg" alt="咸宁温泉" title="咸宁温泉" id="wows1_19"/>湖北咸宁
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/20050101_02.05.51.jpg" alt="喻家山后山" title="喻家山后山" id="wows1_20"/>湖北 武汉
						2005-01-01 02.05.51
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/img_2982.jpg" alt="汉阳造" title="汉阳造" id="wows1_21"/>湖北武汉
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/img_2985.jpg" alt="汉阳造的自行车" title="汉阳造的自行车" id="wows1_22"/>。。
					</li>
					<li><img src="{{ site.url }}/slider/data_traval/images/img_2993.jpg" alt="天河机场" title="天河机场" id="wows1_23"/>湖北武汉
					</li>
				</ul>
			</div>
			<div class="ws_thumbs">
				<div>
					<a href="#" title="我在凤凰你在哪"><img src="{{ site.url }}/slider/data_traval/tooltips/fenghuang.jpg" alt="" /></a>
					<a href="#" title="靖海"><img src="{{ site.url }}/slider/data_traval/tooltips/20110820_13.42.18.jpg" alt="" /></a>
					<a href="#" title="中山大学北门"><img src="{{ site.url }}/slider/data_traval/tooltips/20110823_18.29.452.jpg" alt="" /></a>
					<a href="#" title="夜游珠江-广州塔"><img src="{{ site.url }}/slider/data_traval/tooltips/20110825_20.26.55.jpg" alt="" /></a>
					<a href="#" title="和陈泽探索大南山山路到碗仔"><img src="{{ site.url }}/slider/data_traval/tooltips/20120120_16.07.10.jpg" alt="" /></a>
					<a href="#" title="坂美的风车"><img src="{{ site.url }}/slider/data_traval/tooltips/20120201_15.21.02.jpg" alt="" /></a>
					<a href="#" title="一块路牌"><img src="{{ site.url }}/slider/data_traval/tooltips/20120201_10.53.25.jpg" alt="" /></a>
					<a href="#" title="荆州站"><img src="{{ site.url }}/slider/data_traval/tooltips/dsc00761.jpg" alt="" /></a>
					<a href="#" title="修车"><img src="{{ site.url }}/slider/data_traval/tooltips/trage.jpg" alt="" /></a>
					<a href="#" title="山路上骑不动了躺尸"><img src="{{ site.url }}/slider/data_traval/tooltips/20120826_18.36.59.jpg" alt="" /></a>
					<a href="#" title="路上休息"><img src="{{ site.url }}/slider/data_traval/tooltips/dsc00880.jpg" alt="" /></a>
					<a href="#" title="美利达勇士"><img src="{{ site.url }}/slider/data_traval/tooltips/dsc00919.jpg" alt="" /></a>
					<a href="#" title="张家界武陵源"><img src="{{ site.url }}/slider/data_traval/tooltips/dsc01356.jpg" alt="" /></a>
					<a href="#" title="凤凰"><img src="{{ site.url }}/slider/data_traval/tooltips/dsc01367.jpg" alt="" /></a>
					<a href="#" title="凤凰古城"><img src="{{ site.url }}/slider/data_traval/tooltips/dsc01586.jpg" alt="" /></a>
					<a href="#" title="黄冈中学"><img src="{{ site.url }}/slider/data_traval/tooltips/0590.jpg" alt="" /></a>
					<a href="#" title="天兴洲"><img src="{{ site.url }}/slider/data_traval/tooltips/imag0318.jpg" alt="" /></a>
					<a href="#" title="第一次去咸宁温泉"><img src="{{ site.url }}/slider/data_traval/tooltips/p_large_2zxl_529b0008341f5c42.jpg" alt="" /></a>
					<a href="#" title="再游咸宁温泉"><img src="{{ site.url }}/slider/data_traval/tooltips/img_3108.jpg" alt="" /></a>
					<a href="#" title="咸宁温泉"><img src="{{ site.url }}/slider/data_traval/tooltips/img_3118.jpg" alt="" /></a>
					<a href="#" title="喻家山后山"><img src="{{ site.url }}/slider/data_traval/tooltips/20050101_02.05.51.jpg" alt="" /></a>
					<a href="#" title="汉阳造"><img src="{{ site.url }}/slider/data_traval/tooltips/img_2982.jpg" alt="" /></a>
					<a href="#" title="汉阳造的自行车"><img src="{{ site.url }}/slider/data_traval/tooltips/img_2985.jpg" alt="" /></a>
					<a href="#" title="天河机场"><img src="{{ site.url }}/slider/data_traval/tooltips/img_2993.jpg" alt="" /></a>
				</div>
			</div>
			<a class="wsl" href="http://wowslider.com">jQuery Image Slider Gallery by WOWSlider.com v2.8</a>
			<div class="ws_shadow"></div>
		</div>
		<script type="text/javascript" src="{{ site.url }}/slider/engine_traval/wowslider.js"></script>
		<script type="text/javascript" src="{{ site.url }}/slider/engine_traval/script.js"></script>
		<!-- End WOWSlider.com BODY section -->
	</body>
</html>