<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ site.url }}/css/index.css" />
		<!-- Start WOWSlider.com HEAD section -->
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/slider/engine_index/style.css" />
		<script type="text/javascript" src="{{ site.url }}/slider/engine_index/jquery.js"></script>
		<!-- End WOWSlider.com HEAD section -->
	</head>
	<body>
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
	</body>
</html>